
# Порт приложения
PORT=8991

# URL Runner Engine
RUNNER_ENGINE_URL=http://localhost:8989

# Глобальная директория для микросервисов
DATA_DIR=./data/catalog

# Путь к конфигурации Nginx
NGINX_CONFIG_PATH=./data/nginx/nginx.conf

# WebSocket для real-time логов
WEBSOCKET_PORT=8992

# Настройки логирования
LOG_LEVEL=info
LOG_FILE=./data/logs/system.log
